*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.3s ease;
    z-index: 10;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.3s;
}
.text{
    margin-right: 160px;
}
.text a {
  font-family: Raleway;  
  position: relative; 
  margin-left: 50px;
  text-decoration: none;
  color: #5682B1;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 20px;
}

.text a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0;
  height: 1px;
  background-color: #5682B1;
  transition: width 0.2s ease;
}

.text a:hover::before {
  width: 100%;
}
.navbar:hover{
    background-color: rgb(0, 0, 0);
    
}

.about-section {
  background: linear-gradient(to bottom, #e3f2fd, #ffffff);
  padding: 80px 20px;
  color: #1e3d59;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  height: 600px;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.about-content {
  box-sizing: border-box;
}

.about-content h2 {
  font-size: 32px;          
  color: #0a2342;
  margin-bottom: 15px;
}

.about-content p {
  color: #333;
  margin-bottom: 15px;
  line-height: 1.7;
  font-size: 18px;         
}

.social-section {
  margin-top: 30px;
}

.social-section h3 {
  font-size: 22.4px;         
  margin-bottom: 15px;
  color: #0a2342;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-links a {
  background: #0f1214;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: 0.3s;
  font-size: 15.2px;        
}

.social-links a:hover {
  background: #878e95;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-content {
    text-align: center;
  }
  .social-links {
    justify-content: center;
  }
}
