* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to bottom right, #a3d5ff, #dbeafe, #f0f4f8);
  color: #333;
  line-height: 1.6;
}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.3s ease;
    z-index: 10;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.3s;
}
.text{
    margin-right: 160px;
}
.text a {
  font-family: Raleway;  
  position: relative; 
  margin-left: 50px;
  text-decoration: none;
  color: #5682B1;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 20px;
}

.text a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0;
  height: 1px;
  background-color: #5682B1;
  transition: width 0.2s ease;
}

.text a:hover::before {
  width: 100%;
}
.navbar:hover{
    background-color: rgb(0, 0, 0);
    
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  color: #1e3d59;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.95rem;
  margin-bottom: 15px;
}
