
*{
    margin: 0;
    padding: 0;

}
.gallery-section {
  text-align: center;
  width: 90%;
  max-width: 1000px;
}

h1 {
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.buttons {
  margin-bottom: 20px;
}

button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 25px;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  transition: transform 0.1s ease, background-color 0.3s;
}

button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.back{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://wallpapercat.com/w/full/1/3/e/140533-3840x2160-desktop-4k-mountain-background.jpg);
  background-position: center;
  background-size: cover;

}

 .navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.3s ease;
    z-index: 5;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.3s;
}
.text{
    margin-right: 160px;
}
.text a {
  font-family: Raleway;  
  position: relative; 
  margin-left: 50px;
  text-decoration: none;
  color: #5682B1;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 20px;
}
.text a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0;
  height: 1px;
  background-color: #5682B1;
  transition: width 0.2s ease;
}

.text a:hover::before {
  width: 100%;
}
.navbar:hover{
    background-color: rgb(0, 0, 0);
    
} 
