
*{
    margin: 0;
    padding: 0;

}
.gallery-section {
  margin-top: 100px;
  text-align: center;
  width: 90%;
  max-width: 1000px;
}

h1 {
  font-size: 2.2rem;
  color: #222;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.buttons {
  margin-bottom: 20px;
}

button {
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 25px;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  transition: transform 0.1s ease, background-color 0.3s;
}

button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.gallery {
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  margin-bottom: 20px;
}

#image-1 {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#image-1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.back{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #D9CFC7;
  /* background-image: url(https://static.vecteezy.com/system/resources/thumbnails/013/730/092/small/mountains-color-translucent-waves-abstract-glass-shape-modern-background-design-illustration-vector.jpg); */
  background-position: center;
  background-size: cover;
}

 .navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.3s ease;
    z-index: 5;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.3s;
}
.text{
    margin-right: 160px;
}
.text a {
  font-family: Raleway;  
  position: relative; 
  margin-left: 50px;
  text-decoration: none;
  color: #5682B1;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 20px;
}
.text a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0;
  height: 1px;
  background-color: #5682B1;
  transition: width 0.2s ease;
}

.text a:hover::before {
  width: 100%;
}
.navbar:hover{
    background-color: rgb(0, 0, 0);
    
} 
.gallery-2 {
  display:grid;
  margin-top: 100px;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.gallery-3 {
  display:grid;
  margin-top: 100px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 15px;
  margin-bottom: 20px;
}

#image-1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.img-1{
  grid-column: 2/3;
  grid-row:1/3;
}
.img-1 > img{
  width: 100%;
  height: 425px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img-1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.img-6{
  grid-column: 3/4;
  grid-row:2/4;
}
.img-6 > img{
  width: 100%;
  height: 425px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img-6:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.img-2{
  grid-column: 1/2;
  grid-row:1/3;
  background-color:transparent;
  border-radius: 10px;
  height: 400px;

}
.img-2 > img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.img-2:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



