*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: show-content 0.5s linear forwards;
    animation-delay: 0.8s;
}
body{
    background-color: black;
}
.back1{
    background-image: url(https://hiking-trails.com/wp-content/uploads/2024/03/Homepage-header3.jpg);
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0;

}

.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.3s ease;
    z-index: 5;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.3s;

}
.text{
    margin-right: 160px;
}
.text a {
  font-family: Raleway;  
  position: relative; 
  margin-left: 50px;
  text-decoration: none;
  color: #5682B1;
  font-weight: 500;
  transition: color 0.2s ease;
  font-size: 20px;
}

.text a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 0;
  height: 1px;
  background-color: #5682B1;
  transition: width 0.2s ease;
}

.text a:hover::before {
  width: 100%;
}
.navbar:hover{
    background-color: rgb(0, 0, 0);
    
}
.search{
    position: relative;
    text-align: center;
    top: 250px;
}
.search>p{
    font-family: Cal Sans;
    font-size: 30px;
    color:#CAE0BC;
}
.search>h1{
    color: #D6BD98;
    font-size: 100px;
    font-weight: 900;
    font-family: Protest Guerrilla;
}
.search>div> input{
    border-style: none;
    padding: 10px;
    width: 340px;
    border-radius: 0;
    border: 0.5px solid rgb(79, 49, 49);
    background-color: rgb(255, 255, 255);

}
.search > div > button{
    border-style: none;
    padding: 10px;
    width: fit-content;
    margin-top: 10px;
    right: 4px;
}
.search > div> button:hover{
    background-color: rgb(38, 38, 86);
    cursor: pointer;
}
.container{
    max-width: 90%;
    height: 300px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 200px;
    gap: 60px;
}
main > h1{
    color: #5682B1;
    margin-top: 90px;
    font-size: 40px;
    margin-left: 195px;
}
.box{
    width: 300px;
    height: 250px;
    background-color: black;
    overflow: hidden;
    background-color: #2F3645;
    animation: fadeIn 0.8s ease forwards;
}
.box > a > img {
    height: 150px;
    width: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;


}
.box > a > img:hover{
    transform: scale(1.1);
}
.box > h2{
    margin-top: 20px;
    color: #CAE0BC;

}
.box > p{
    margin-top: 5px;
    color: #CAE0BC;
}
.hero-sec{
    background-image: url(https://cdn-assets-2.alltrails.com/assets/packs/c8763fbfa7a43daa6abb.avif);
    position: relative;
    background-position: center;
    background-size: cover;
    max-width:77%;
    height: 600px;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
.hero{
    display: flex;
    justify-content: right;
    margin-top: 0;
}
.hero-sec > .hero > h1{
    color: pink;
    font-size: 60px;
    position: absolute;
    top: 150px;
    margin-left: 20px;
}
.reviews{
    max-width: 75%;
    height: 200px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}
main > .reviews > .sec-1 > h1 {
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}
main > .reviews > .sec-1 > h4{
    text-align: center;
    padding: 5px;
}
main > .reviews > .sec-1 > p{
    text-align: center;   
    margin-left: 10px;
}

main > .reviews > .sec-2 > h1 {
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}
main > .reviews > .sec-2 > h4{
    text-align: center;
    padding: 5px;
}
main > .reviews > .sec-2 > p{
    text-align: center;   
    margin-left: 10px;
}
main > .reviews > .sec-3 > h1 {
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}
main > .reviews > .sec-3 > h4{
    text-align: center;
    padding: 5px;
}
main > .reviews > .sec-3 > p{
    text-align: center;   
    margin-right: 10px;
}
main > .activity > div{
    width: 80%;
    margin: auto;
    text-align: center;
}
.activity>div{
    display: flex;
    justify-content: space-between;
}

.circle >a> img {
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.2s ease;
}
.circle > h4{
    font-size: 23px;
    font-weight: 500;
    margin-top: 15px;
}
.circle >a> img:hover{
    
    transform: scale(1.1);
}
.activity{
    margin-top: 100px;
}
footer > .background {
    overflow: hidden;
    margin-top: 60px;
    background-image: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8NGslMjBtb3VudGFpbnxlbnwwfHwwfHx8MA%3D%3D&fm=jpg&q=60&w=3000);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    border-top: 3px solid rgb(231, 0, 0);

}
.foot{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 150px;
}
.foot > .about, .resource, .contact-info, .social, .legals{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.foot > .about>a, .resource>a, .contact-info> a, .social >a, .legals > a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: transform 0.2s ease; 
}

.foot > .about>a:hover{
    transform: scale(1.1);
}
.foot > .resource>a:hover{
    transform: scale(1.1);
}
.foot > .contact-info>a:hover{
    transform: scale(1.08);
}
.foot > .social>a:hover{
    transform: scale(1.1);
}
.foot > .legals>a:hover{
    transform: scale(1.05);
}
.foot > .about>h3, .resource>h3, .contact-info> h3, .social >h3, .legals > h3{
    font-size: 26px;
}

@keyframes show-content {
    100%{
    visibility: visible;
    opacity: 1;
    }
}
.container{
    animation: show-content 0.5s linear forwards;
    animation-delay: 0.8s;
}




